# 1. 숫자형

## 1) 숫자의 형태
- 정수형, 실수형 2가지가 존재하며
- 정수형은 int
- 실수형은 float

In [1]:
type(1)

int

In [2]:
type(1.0)

float

## 2) 사칙연산

### + : 더하기

In [3]:
1 + 1

2

### - : 빼기

In [4]:
1- 1

0

### * : 곱하기

In [5]:
1 * 2

2

### / : 나누기

In [6]:
5 / 2

2.5

### // : 나누었을 때의 몫

In [7]:
5 // 2

2

### % : 나누었을 때의 나머지

In [8]:
5 % 2

1

### ** : 제곱

In [9]:
2 ** 3

8

### 연산의 우선순위
- 연산의 우선순위는 일반 계산과 동일하다.

In [10]:
3 + 4 ** 2 - 2 / 2

18.0

## 3) 숫자 사이의 형변환

In [11]:
int(1.234)

1

In [12]:
float(1)

1.0

## 4) 숫자형 연습문제

- 국어 80점, 영어 75점, 국어 55점인 사람이 있다.
- 이 세과목의 평균 점수를 계산해 보세요

# 2. Boolean

## 1) Boolean의 뜻
- 참이면 True
- 거짓이면 False

- Python의 Boolean은 ""같은 기호를 붙이지 않는다.

In [13]:
True

True

In [14]:
False

False

## 2) Boolean의 사용

### 논리 연산자
- and : 둘 모두 참이어야 참
- or : 둘 중 하나라도 참이면 참
- not : Boolean을 반대 표현으로 바꾸는 연산자

- and

In [15]:
True and True

True

In [16]:
True and False

False

In [17]:
False and False

False

- or

In [18]:
True or True

True

In [19]:
True or False

True

In [20]:
False or False

False

- not

In [21]:
not(True)

False

In [22]:
not(False)

True

In [23]:
True and not(False)

True

In [24]:
not(True) or False

False

### 비교 연산자

    > : 크다
    < : 작다
    >= : 크거나 같다
    <= : 작거나 같다
    == : 같다
    != : 다르다

In [25]:
1 > 2

False

In [26]:
1 < 2

True

In [27]:
1 >= 2

False

In [28]:
1 <= 2

True

In [29]:
1 == 2

False

In [30]:
1 != 2

True

### 혼합 사용

- 비교 연산자와 논리 연산자를 혼합해서 많이 사용한다.

In [31]:
1 > 2 and 1 < 2

False

In [32]:
(1 > 2) & (1 < 2)

False

In [33]:
1 > 2 or 1 < 2

True

In [34]:
(1 > 2) | (1 < 2)

True

In [35]:
not(1 > 2) and 1 < 2

True

In [36]:
1 > 2 or not(1 < 2)

False

## 연습문제

123456789 가 3의 배수인지 아닌지를 판별해 주세요

# 3. 주석

## 1) 주석의 뜻

In [37]:
1 > 2 # 1이 2보다 크다는 것은 False이다.

False

## 2) 주석의 필요성

In [38]:
# 왜 주석을 다는가?
# 프로그래밍은 "Sequence의 연속이다."
# 코드가 길어지다보면, 어떤 코드가 어떤 역할을 하는지 헷갈리거나,
# 다른 사람이 내 코드를 보았을 때 헷갈릴 수 있다.
# 따라서 주석을 통해 정보를 적어줄 수 있다.

# 4. 변수

## 1) 변수의 뜻

- 정의 1 ) 변하는 수

- 정의 2 ) 변수는 프로그래머가 데이터를 저장할 수 있고, 나중에 변수명을 통해 저장된 데이터를 꺼내올 수 있는 메모리의 명명된 위치

    - 즉, 어떤 값을 변수명을 통해 메모리에 저장해두고, 변수 명을 통해 부를 수 있다.
    - 직관적으로, A라는 사람의 특징을 A의 이름으로 뇌 속에 저장하고,A의 특징을 A의 이름으로 뇌속에서 꺼내오는 것과 같다.

## 2) 변수 생성

### 변수 만들기

In [39]:
a = 1 # 변수 지정

In [40]:
a # 변수 생성 확인

1

### 한 번에 여러개의 변수 만들기

In [41]:
a,b = 1,2

In [42]:
a

1

In [43]:
b

2

## 3) 변수 생성의 조건

### 변수명은 숫자가 될 수 없다.

In [44]:
1 = 2

SyntaxError: cannot assign to literal (<ipython-input-44-c0ab9e3898ea>, line 1)

### 변수명은 숫자로 시작할 수 없다.

In [45]:
1a = 1

SyntaxError: invalid syntax (<ipython-input-45-cc67e5ecf289>, line 1)

### 변수명에는 하이픈(-)을 사용할 수 없다.
- 변수명이 길어질 경우 언더바(_)를 사용하자.

In [46]:
1-2  = 2

SyntaxError: cannot assign to operator (<ipython-input-46-0ebd3d208f22>, line 1)

### Python의 변수명은 대소문자를 구분한다.

In [ ]:
a = 1
A = 2

In [ ]:
a

In [47]:
A

NameError: name 'A' is not defined

### 변수명에 색상이 바뀐다면 해당 변수명은 다른 이름으로 바꾸자.
- Python의 내장 함수의 이름과 겹침을 의미한다.
- 내장 함수를 새로운 변수로 덮을 경우, 나중에 해당 함수를 사용하지 못할 수 있다.

In [ ]:
int(1.2)

In [ ]:
int = 1

In [ ]:
int

In [ ]:
int(1.2)

## 4) 변수 덮어쓰기

### 중복되는 변수명이 있다면, 나중에 정의된 변수가 선택된다.

In [ ]:
a = 1
a = 2
a

### 이를 이용해서 “a = a + 1” 과 같은 반복적인 작업도 많이 해준다.

In [48]:
a = 1
a

1

In [49]:
a = a + 1
a

2

### 변수명을 정의하지 않고 사용하면 Name Error가 발생한다.

In [50]:
aa

NameError: name 'aa' is not defined

## 5) 변수 삭제

In [51]:
a = 1
a

1

In [52]:
del a

In [53]:
a

NameError: name 'a' is not defined

## 6) 연습문제

오늘의 "연도-월-일"을 "YYYY-MM-dd" 형태로 하나의 변수에 지정해주세요

# 5. 문자열

## 1) 문자열의 뜻
- 문자열은 “문자로 이루어진 자료 집합“ 이다.

## 2) 문자열 생성하기

- 문자열은 따옴표를 사용해 만들 수 있다.
    - 이 때, 작은 따옴표로 시작했다면, 문자열이 끝날 때까지는 작은 따옴표를 사용하면 안된다.
    - 만약 문자열 내부에 작은 따옴표를 넣고 싶다면, 큰 따옴표로 시작해 내부에 작은 따옴표를 넣으면 된다.

In [54]:
a = "안녕하세요"
a

'안녕하세요'

In [55]:
"오늘의 심부름은 '두부', '애호박', '된장'인걸 보아 오늘 저녁은 '된장찌개'인가?"

"오늘의 심부름은 '두부', '애호박', '된장'인걸 보아 오늘 저녁은 '된장찌개'인가?"

In [56]:
'어머니께서 "손 씻고 와라~"라고 말씀하셨다.'

'어머니께서 "손 씻고 와라~"라고 말씀하셨다.'

Str() 내장 함수를 이용해 형태를 바꿀 수 있다.

In [57]:
a = 1
a

1

In [58]:
str(a)

'1'

“”” “””은 여러줄에 걸쳐서 문자열로 만들 수 있다.

In [59]:
"""
안
녕
하
세
요
"""

'\n안\n녕\n하\n세\n요\n'

## 3) 문자열과 특수 문자 표현

- 문자열에서 문장을 바꾸고 싶다면, \n을 사용하면 된다.

In [60]:
a = 'Python 기초\n1. 숫자형\n2.Boolean\n3. ...'
a

'Python 기초\n1. 숫자형\n2.Boolean\n3. ...'

In [61]:
print(a)

Python 기초
1. 숫자형
2.Boolean
3. ...

- 문자열에서 띄어 쓰고 싶다면, \t를 사용하면 된다.

In [62]:
a = 'Python 기초\t1. 숫자형\t2.Boolean\t3. ...'
a

'Python 기초\t1. 숫자형\t2.Boolean\t3. ...'

In [63]:
print(a)

Python 기초	1. 숫자형	2.Boolean	3. ...

## 4) 문자열 연산

In [64]:
a = "내 이름은 "
b = "철수입니다."

### 문자열의 합

In [65]:
a + b

'내 이름은 철수입니다.'

### 문자열의 곱

In [66]:
eq = '='
eq * 5

'====='

## 5) 연습문제

(1) year이라는 변수에 오늘의 연도를 입력해주세요

(2) month라는 변수에  오늘의 월을 입력해주세요

(3) day이라는 변수에 오늘의 날짜를 입력해주세요

(4) "오늘은 year년 month월 day일 입니다" 라는 문장을 만들어 주세요

# 연습 문제

## 문제 1) 다음 수식을 Python 코드로 작성하시오

### 문제 의도 : 숫자형의 사칙 연산 + 계산 순서 이해 여부

$$y = \sqrt[2]{1+2x-3x^2+4x^3-5x^4}$$

In [67]:
x = float(input("x에 지정할 숫자를 입력해주세요"))
y =

SyntaxError: invalid syntax (<ipython-input-67-c794a14e0a02>, line 2)

## 문제 2 ) 다음 수식을 Python 코드 한줄로 작성해보세요

### 문제 의도 : 숫자형의 사칙 연산 + 계산 순서 이해 여부

\begin{equation}
y = \cfrac{5\cfrac{3x^2+5x+2}{7w-\cfrac{1}{z}}-z}{4\cfrac{3+x}{7}}
\end{equation}

In [68]:
import random
x = random.randint(1,1000)
w = random.randint(1,1000)
z = random.randint(1,1000)
x, w, z

(242, 361, 540)

## 문제 3 ) 다음의 결과를 계산해보세요.

- 연 이율 2% 복리 이자 상품이 있다.
- 철수는 100만원을 예금해 10년 후에 찾으려 한다.
- 10년 후의 원리금은 얼마인지 구하시오

In [69]:
x = 100000

## 문제 4 ) 다음의 결과를 계산해 보세요

- 4자리 정수를 입력 받습니다.
- 4자리 정수의 각 자리수 값의 총 합은 얼마일까요?
- example) 2022 입력 => 6 출력

In [70]:
x = int(input('4자리 정수를 입력해 주세요.'))

4자리 정수를 입력해 주세요.1234