# 1. 리스트

## 1) 리스트의 뜻
- 리스트 : 값을 “순서대로“ 저장하는 자료 구조
- 리스트를 사용해 행렬이나 벡터를 표현할 수 있다.

## 2) 리스트 생성하기
- 리스트는 대괄호([])로 감싸서 만든다.

- 대괄호 속에 들어가는 “원소”는 순서의 의미를 갖는다.
    - List 속 값을 “원소”라고 부른다.
    - 순서를 이용한 다양한 기법들이 있다.

- 리스트 속에는 다양한 형태의 원소가 들어갈 수 있다.

In [1]:
[2,3,1]

[2, 3, 1]

In [2]:
[]

[]

In [3]:
type([])

list

- 숫자형과 문자열이 동시에 존재할 수 있다.

In [4]:
['a',1,'b',2]

['a', 1, 'b', 2]

- list() 를 사용해 형태를 변환할 수 있다.

In [5]:
list('abc')

['a', 'b', 'c']

## 3) 인덱싱

In [6]:
len([1,2,3,4,5])

5

- 인덱싱 : 한 개의 원소를 선택할 수 있다.
    - 형태 : x[n]


- n에 0부터 len(x)-1 사이의 값을 입력하면, 해당 위치를 반환한다.

    - x[1] : 2번째 위치에 있는 원소 (Python은 0부터 시작)

In [7]:
x = ['가','나','다','라','마']

In [8]:
x[0] # x의 첫번째 값, 0번 index

'가'

In [9]:
x[1] # x의 두번째 값, 1번 index

'나'

In [10]:
x[len(x)-1]

'마'

- n에 -1부터 –len(x)까지 입력하면, 뒤에서부터 해당 위치의 값을 반환한다.
    - x[-1] : 가장 마지막 원소
    - x[-2] : 뒤에서 두번째 원소
    - x[-len(x)] : 가장 첫 원소

In [11]:
x[-1]

'마'

In [12]:
x[-len(x)]

'가'

## 4) 슬라이싱

- 슬라이싱 : 여러 개의 원소를 선택할 수 있다.

- 형태 : x[a : b:c]
    - a : 시작 위치
    - b : 끝 위치 (미포함) : b위치 앞까지의 원소를 반환한다.
    - c : 간격

In [13]:
x[1:3]

['나', '다']

In [14]:
x[0:5]

['가', '나', '다', '라', '마']

In [15]:
x[0:5:2]

['가', '다', '마']

In [16]:
x[0:5:3]

['가', '라']

- 가장 처음 혹은 가장 마지막을 표현하지 않아도 된다
    - x[:b] = 처음부터 b-1번째 까지
    - x[a:] = a부터 끝까지

In [17]:
x[:3]

['가', '나', '다']

In [18]:
x[3:]

['라', '마']

- 마찬가지로 음수를 사용할 수 있다
    - x[:-1] = 처음부터 가장 마지막에서 두번째 까지
    - x[::-1] = 생각해보기

In [19]:
x[:-1]

['가', '나', '다', '라']

In [20]:
x[:-2]

['가', '나', '다']

In [21]:
x[::-1]

['마', '라', '다', '나', '가']

## 5) 리스트 관련 연산자

.append() : () 안에 들어가는 값을 리스트에 추가한다.

In [22]:
print(x)

['가', '나', '다', '라', '마']

In [23]:
x.append('바')

In [24]:
x

['가', '나', '다', '라', '마', '바']

- .pop() 해당 위치의 값을 하나를 제거하고, 그 값을 반환한다

In [25]:
last = x.pop(-1)

In [26]:
last

'바'

In [27]:
x

['가', '나', '다', '라', '마']

del x[n] : x의 n번째에 위치한 값을 제거한다.

In [28]:
del x[-1]

In [29]:
x

['가', '나', '다', '라']

x.index() : () 안에 들어가는 값의 위치를 찾는다. (중복되면 가장 처음 것을 반환)

In [30]:
x.index('가')

0

In [31]:
x.append('가')

In [32]:
x

['가', '나', '다', '라', '가']

In [33]:
x.index('가')

0

x[n] = k : x의 n번째에 위치한 원소를 k로 바꾼다.

In [34]:
x[3] = '하'

In [35]:
x

['가', '나', '다', '하', '가']

a + b : 두 리스트를 합치면 두 리스트 속 원소들이 하나의 리스트에 담긴다.

In [36]:
a = ['가','나','다']
b = ['라','마','바']
a + b

['가', '나', '다', '라', '마', '바']

a * 2 : a 리스트 속 원소들이 2번 생긴다.

In [37]:
a * 2

['가', '나', '다', '가', '나', '다']

.sort() 리스트 속 원소들을 정렬한다.

In [38]:
a.sort()
a

['가', '나', '다']

.reverse() : 리스트 속 원소들을 역순으로 바꾼다.

In [39]:
a.reverse()

In [40]:
a

['다', '나', '가']

## 6) 연습문제

- 다음 형태의 list를 만드세요

<img align="left" src="http://www.cs.ubc.ca/~pcarter/cs189/image/2darrayrc.png" alt="2D List in Python">

# 2. 튜플

## 1) 튜플의 뜻

- 튜플 (tuple)은 리스트와 동일하게 값을 순서대로 저장하는 자료 구조이다.

- 단, 튜플은 수정하거나 변경할 수 있다.
    - 추가, 삭제, 수정 등에 대비하지 않기에 효율적인 내부 구조를 가진다.

## 2) 튜플 생성하기

튜플 (tuple)은 소괄호()로 감싸서 만든다.

In [41]:
(1, 2, 3)

(1, 2, 3)

In [42]:
type(())

tuple

tuple()을 사용해 바꿀 수 있다.

In [43]:
tuple([1,2,3])

(1, 2, 3)

## 3,4) Indexing & Slicing

In [44]:
x = ('가','나','다')

In [45]:
x[1]

'나'

In [46]:
x[:3]

('가', '나', '다')

## 5) 합치기 & 반복하기

In [47]:
a = ('가','나','다')
b = ('라','마','바')

In [48]:
a + b

('가', '나', '다', '라', '마', '바')

In [49]:
a * 2

('가', '나', '다', '가', '나', '다')

## 6) 수정하기

기본적으로 tuple은 수정이 불가능하다.

In [50]:
a[1] = '하'

TypeError: 'tuple' object does not support item assignment

수정하기 위해서는 list()로 바꾸어 수정 후 다시 tuple() 형태로 바꾸면 된다.

In [ ]:
a = list(a)
a

In [ ]:
a[1] = '하'
a

In [ ]:
a = tuple(a)
a

## 7) 연습문제

- 오직 하나의 값 1을 갖는 튜플 타입의 변수 a를 만드세요
- type(a)를 했을 때 tuple이 나와야 합니다.

# 3. 딕셔너리

## 1) 딕셔너리의 뜻

- 사전입니다.

- 사전은 “단어의 이름“ : “단어의 의미“ 의 형태로 구성되어 있습니다.

- 딕셔너리도 마찬가지로 key : value의 형태로 구성됩니다.

- 즉, 딕셔너리는 key에 해당하는 정보인 value를 매칭시켜 저장한 책입니다.

- 따라서, 딕셔너리는 순서의 의미가 존재하지 않습니다.

## 2) 딕셔너리 만들기

딕셔너리는 {key1 : value1, key2 : value2, …} 의 형태로 만듭니다.

In [51]:
errand = {'두부' : 2000, '계란' : 6000}

## 3) 인덱싱

- 딕셔너리는 순서의 의미가 없음을 말씀 드렸습니다.

- 하지만 딕셔너리는 key라는 고유 값들이 딕셔너리에 존재합니다.

- 따라서 key를 이용해 인덱싱합니다.

In [52]:
errand['두부']

2000

이를 이용해서 값을 덮어쓸 수도 있습니다.

In [53]:
errand['계란'] = 7000

In [54]:
errand

{'두부': 2000, '계란': 7000}

In [55]:
errand['계란']

7000

## 4) 원소 추가하기

- 인덱싱과 동일한 형태를 지닙니다.

- 해당 딕셔너리에 없는 key와 값을 저장해주면 됩니다.

- x[a] = b

In [56]:
errand['사과'] = 20000

In [57]:
errand

{'두부': 2000, '계란': 7000, '사과': 20000}

## 5) 유의 사항

딕셔너리 생성시, 중복된 키가 있다면, 가장 먼저 나온 key를 사용합니다.

In [58]:
errand = {
    '두부' : 2000,
    '계란' : 7000,
    '계란' : 6000,
    '사과' : 20000
         }
errand

{'두부': 2000, '계란': 6000, '사과': 20000}

사전의 키에는 숫자, 문자, 튜플 등 “불변”하는 값들만 들어갈 수 있습니다.

In [59]:
errand = {
    ['두부','계란'] : [2000,7000]    
}

TypeError: unhashable type: 'list'

##  6) 관련 Method

.keys() : 사전의 키를 모두 불러옵니다.

In [60]:
errand.keys()

dict_keys(['두부', '계란', '사과'])

.values() : 사전의 값들을 모두 불러옵니다.

In [61]:
errand.values()

dict_values([2000, 6000, 20000])

.items() : 사전의 키와 값들을 짝지어서 모두 불러옵니다.

In [62]:
errand.items()

dict_items([('두부', 2000), ('계란', 6000), ('사과', 20000)])

- .get(key) : key에 해당하는 값을 불러옵니다.
    - 없는 값이더라도 오류를 내뱉지 않습니다.

In [63]:
errand['배']

KeyError: '배'

In [64]:
errand.get('배')

In [65]:
errand.get('사과')

20000

in : 사전에 해당 key가 있는지 봅니다.

In [66]:
'사과' in errand

True

del 사전[key] : 해당 key를 삭제합니다.

In [67]:
del errand['사과']
errand

{'두부': 2000, '계란': 6000}

.clear() : 사전을 비웁니다.

In [68]:
errand.clear()

In [69]:
errand

{}

## 7) 다음 딕셔너리를 만드세요

| key      | value |
| ----------- | ----------- |
| 1반      | 10,20,20,30,40  |
| 2반   | 20,20,40,30,10       |

# 4. 집합

## 1) 집합의 뜻

- 수학의 집합과 같은 용도로 사용

- 반복되는 값을 허용하지 않는다.

- 순서의 의미가 없다.

## 2) 집합 생성하기

{}로 감싸 만든다.

In [70]:
errand = {'두부', '딸기', '계란', '계란','두부','딸기'}
errand

{'계란', '두부', '딸기'}

set()를 사용해 만들 수 있다.

In [71]:
errand = {'두부' : 2000, '계란' : 7000}
errand

{'두부': 2000, '계란': 7000}

In [72]:
errand = set(errand)
errand

{'계란', '두부'}

## 3) 원소 추가와 삭제

.add() : 안에 들어가는 원소를 추가한다.

In [73]:
errand.add('고추장')

In [74]:
errand

{'계란', '고추장', '두부'}

.update() : 여러 개의 원소를 추가한다.

In [75]:
errand.update(['두부','참기름','굴소스'])
errand

{'계란', '고추장', '굴소스', '두부', '참기름'}

.remove() : 원소를 제거한다.

In [76]:
errand.remove('두부')
errand

{'계란', '고추장', '굴소스', '참기름'}

in : 안에 원소가 있는지 확인한다.

In [77]:
'두부' in errand

False

## 4) 집합 연산자

| : 합집합

In [78]:
yest = {'두부','라면','비지', '스팸'}
today = {'두부','된장','오이', '애호박'}

In [79]:
yest | today

{'된장', '두부', '라면', '비지', '스팸', '애호박', '오이'}

& : 교집합

In [80]:
yest & today

{'두부'}

    - : 차집합

In [81]:
yest - today

{'라면', '비지', '스팸'}

## 5) 연습문제

a를 중복된 숫자가 없는 리스트로 만드세요.

In [82]:
a = [1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5]

# 5. 연습문제

## 1) 문자열 인덱싱

    오늘 태어난 학생의 주민번호 앞 6자리는 "yyyymmdd"일 것이다.

    year에는 연도 4자리를
    month에는 월 2자리를
    day에는 일 2자리를 indexing해서 담으세요.

    example) 2022년 1월 1일생 : "220101"
    year -> 2022
    month -> 01
    day -> 01

## 2) 문자열 인덱싱 2

    한 학생의 주민번호가
    "220101-3123456" 이다.
    이 학생이 남성인지 여성인지 확인해보세요

In [83]:
jumin = "220101-3123456"

## 3) 리스트 정렬하기

    리스트 a가 [3,2,5,4,1] 이다.
    a를 [5,4,3,2,1]이 되도록 정렬하시오.

In [84]:
a = [3,2,5,4,1]

## 4) 튜플 & 리스트
    튜플 a = (1,2,3)에 4를 추가해보세요

In [85]:
a = (1,2,3)

## 5) 딕셔너리

a = dict() 일 때,
다음 중 어떤것이 오류가 나고 그 이유는?

    a['name'] = 'python'
    a[('a',)] = 'python'
    a[[1]] = 'python'
    a[250] = 'python'

## 6) 딕셔너리

a = {'수학' : 100, '영어' : 100, '과학' : 99}

과학에 해당하는 값을 추출해보세요.

In [86]:
a = {'수학' : 100, '영어' : 100, '과학' : 99}