# 1. if문

## 1) if문의 뜻

- Python에서 조건에 따라 다른 코드를 실행하고 싶을 때 사용
- if문은 조건문과 실행문으로 구성됨
- if 문의 조건이 참 (True)이면 실행문이 돌아가는 구조

- 즉, if True : 실행

## 2) if elif else

if 문에서 여러가지 조건이 들어갈 수 있음

    if 조건 1 :    
        실행할 코드
    elif 조건 2 :    
        실행할 코드 
    elif 조건 3 :    
        실행할 코드
    else :
        실행할 코드
    
의 형태로 구성되어 있다.

if 문

In [1]:
if True:
    print('True')

True

In [2]:
a = 5
if a < 10 :
    print('Small')

Small

if elif 문

In [3]:
a = 5

if a % 2 == 0 :  
    print('Even Number')
elif a % 2 != 0 :
    print('Odd Number')

Odd Number

In [4]:
a = 5

if a < 0 :
    print('Negative Number')
elif 0 <= a < 5 :
    print('Small Number')
elif 5 <= a < 10 : 
    print('Middle Number')
elif a >= 10 :
    print('Large Number')
    
# 사실  이 코드는 더 간단히 쓸 수 있다.
# 반복문과 if elif의 특성상, 
# 위의 조건에 해당하지 않으면 다음 조건으로 이동한다.

# 즉, 맨 위에서 0보다 작다는 것을 조건으로 걸었으니,
# 1번 elif에서는 0보다 크거나 같다는 조건을 안 걸어도 된다.

if a < 0 :
    print('Negative Number')
elif a < 5 :
    print('Small Number')
elif a < 10 : 
    print('Middle Number')
elif 10 <= a :
    print('Large Number')

Middle Number
Middle Number

if else

In [5]:
a = 5

if a % 2 == 0 :
    print('Even Number')
else : 
    print('Odd Number')

Odd Number

if elif else

In [6]:
a = 5

if a % 3 == 0 :
    print('3의 배수')
elif a % 3 == 1 : 
    print('3으로 나눈 나머지가 1')
else  :
    print('3으로 나눈 나머지가 2')

3으로 나눈 나머지가 2

In [7]:
age = 100

if age < 20 : 
    print('미성년')
elif age < 40 : 
    print('청년')
elif age < 60 : 
    print('중년')
else : 
    print('노년')

노년

## 3) Nested if문

In [8]:
age = 100
gender = 'male'

if age < 20 : 
    print('미성년')
elif age < 40 : 
    print('청년')
elif age < 60 : 
    print('중년')
else : 
    if gender == 'male' : 
        print('노년의 신사')
    else : 
        print('노년의 숙녀')

노년의 신사

# 2. for 문

## 1) for문 뜻

특정 객체를 이용하여 반복하는 방법

## 2) for문 형식
    for variable in variables : 
        statement
        
- variables는 range, 리스트, 튜플, 등이 들어갈 수 있다.
- variables의 원소들이 하나씩 처음부터 끝까지 들어간다.
- 그러면서 statement를 실행한다.
    - statement는 여러 개가 들어갈 수 있다.
    - 따라서 총 len(variables) 만큼 statement를 반복해서 실행한다.

variables = range

- range(a,b)는 a부터 b-1까지 숫자를 만들어 저장하는 내장 함수이다.

In [9]:
for i in range(1,5) : 
    print(i)

1
2
3
4

variables = 리스트
- 리스트 속 원소들이 하나씩 매칭되어 들어온다.

In [10]:
for s in ['두부','계란','딸기','사과'] : 
    print(s)

두부
계란
딸기
사과

In [11]:
s = '참기름'
for s in ['두부','계란','딸기','사과'] : 
    print(s)

# 반복문에서 사용되는 s도 최종적으로는 하나의 변수로 저장되어 있다.
# 즉, 원래 만들었던 s는 덮어씌워진다.

두부
계란
딸기
사과

variables = 문자열
- 문자열 속 문자 하나하나가 들어온다.

In [12]:
for i in 'Hello Python!' :
    print(i)

H
e
l
l
o

P
y
t
h
o
n
!

variables = 딕셔너리
- 딕셔너리.keys()
- 딕셔너리.values()
- 딕셔너리.items()

In [13]:
errand = {'두부' : 2000, '딸기' : 10000, '사과' : 20000}

for key in errand.keys() : 
    print(key)

두부
딸기
사과

In [14]:
for value in errand.values() : 
    print(value)

2000
10000
20000

In [15]:
errand.items()

dict_items([('두부', 2000), ('딸기', 10000), ('사과', 20000)])

In [16]:
for key, value in errand.items() : 
    print(key, value)

두부 2000
딸기 10000
사과 20000

variables = 리스트 속 리스트

In [17]:
list_of_list = [[1,2,3], [4,5,6], [7,8,9]]

for x in list_of_list : 
    print(x)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [18]:
for x in list_of_list : 
    print(x[0], x[1], x[2])

1 2 3
4 5 6
7 8 9

In [19]:
for a,b,c, in list_of_list : 
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [20]:
for a,_,_ in list_of_list : 
    print(a)

1
4
7

## 3) 함께 사용되는 Method

Enumerate

In [21]:
for num, key in enumerate(errand.keys()) : 
    print(num, key)

0 두부
1 딸기
2 사과

In [22]:
for num, key in enumerate(errand.keys(), 1) : 
    print(num, key)

1 두부
2 딸기
3 사과

List Comprehension

In [23]:
answer =  []
for i in range(20) : 
    answer.append(i)
answer

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [24]:
answer = [i for i in range(20)]
answer

# [list속에 저장될 값 for variable in variables]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
odd_number = [i for i in range(20) if i % 2 != 0]
odd_number

# [list속에 저장될 값 for variable in variables if 조건]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
numbers = ["Odd" if i % 2 != 0  else "Even" for i in range(1, 20)]
numbers

['Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [27]:
targets = ['꽝','당첨']
names = ['철수','영희','민수']

[(target, name) for target in targets for name in names]

[('꽝', '철수'),
 ('꽝', '영희'),
 ('꽝', '민수'),
 ('당첨', '철수'),
 ('당첨', '영희'),
 ('당첨', '민수')]

In [28]:
list_of_list = [[1,2,3], [4,5,6], [7,8,9]]

flatten = [element for row in list_of_list for element in row]
flatten

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Dict Comprehension

In [29]:
{i : i * 20 for i in range(20)}

{0: 0,
 1: 20,
 2: 40,
 3: 60,
 4: 80,
 5: 100,
 6: 120,
 7: 140,
 8: 160,
 9: 180,
 10: 200,
 11: 220,
 12: 240,
 13: 260,
 14: 280,
 15: 300,
 16: 320,
 17: 340,
 18: 360,
 19: 380}

zip

In [30]:
midterms = [20,30,40,50,60]
finals = [50,40,20,10]
handouts = [5,10,5,10]
totals = []

for midterm, final, handout in zip(midterms, finals, handouts) : 
    total = midterm + final + handout
    totals.append(total)
print(max(totals))

80

## 4) Nested Loop

반복문 속에 반복문을 넣을 수 있다.

In [31]:
for i in range(2,10) : 
    print(i, '단')
    for j in range(1,10) : 
        print(i, '*', j, '=', i*j)
    print('=='*10)

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
====================
3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
====================
4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
====================
5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
====================
6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
====================
7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
====================
8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
====================
9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
====================

formating으로 표현

In [32]:
for i in range(2,10) : 
    print(i, '단')
    for j in range(1,10) : 
        print(f'{i} * {j} = {i*j}')
    print('=='*10)

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
====================
3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
====================
4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
====================
5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
====================
6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
====================
7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
====================
8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
====================
9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
====================

# 3. While문

## 1) While문 뜻

- 조건이 True일 동안 반복하는 방법

- 무한 반복에 빠지지 않도록 주의해야 함.

## 2) While문 형식

- 형식
    while 조건 : 
        statement

- 조건이 True인 동안, statement는 계속해서 시행된다.

In [33]:
total = 0
i = 0

while  i < 5 :
    print(i, total)
    i += 1

0 0
1 0
2 0
3 0
4 0

## 3) 루프 제어문

break

In [34]:
i = 2

while True : 
    print(i)
    i *= 2
    if i > 10 :
        break;

2
4
8

continue

In [35]:
for i in range(100,2000,100) : 
    if i % 200 == 0 :
        continue;
    print(i)

100
300
500
700
900
1100
1300
1500
1700
1900

# 연습문제

## 1) 어떤 조건이 쓸모 없을까요?

    if x < 2 :
        print('Below 2')
    elif x >= 2 :
        print('Two or more')
    else :
        print('Something else')

1번 : elif 조건
2번 : else 조건

    if x < 2 :
        print('Below 2')
    elif x < 20 :
        print('Below 20')
    elif x < 10 :
        print('Below 10')
    else :
        print('Something else')
        
- 1번 : elif x < 20
- 2번 : elif < 10
- 3번 : else

## 문제 2 ) 자리수를 출력하는 코드 만들기

- example)
    - 2 : "1자리 수 입니다"
    - 20 : "2자리 수 입니다"
    - 200 : "3자리 수 입니다"
    - 20,000 : "5자리 수 입니다"

In [36]:
x = int(input("정수를 입력해 주세요"))

정수를 입력해 주세요

ValueError: invalid literal for int() with base 10: ''

## 문제 3 ) 인센티브 계산기를 만드려고 합니다.

- Sales가 주어졌을 때,

- Sales < 50 만원 이면 Incentive가 없다.
- 50만원 ≤ Sales ≤ 500만원 이면 (Sales의 10%)를 Incentive로 지급한다.
- Sales > 500만원 이면 (70만원 + Sales 중 500만원 초과된 액수의 8%)를 Incentive로 지급한다.

In [ ]:
sales = int(input())

## 문제 4 ) 코드를 이해하고, 목적을 설명하세요

    x = [-3,-8,-6,-4,-5,-1]
    y = x[0]
    for i in x :
        if y < i : y = i

## 문제 5 ) 예치금 계산기

- 언제 원리금이 2배가 되는지 궁금합니다.

- 초기 예금액은 1,000,000원 입니다.
- 연 이자율 2%일 때, 몇년이 걸릴까요?

## 문제 6 ) 3의 배수의 합은?

- While문을 이용해 1부터 1000 사이의 3의 배수의 합을 구하세요

## 문제 7) 크리스마스 트리 만들기

- 크리스마스 트리의 반쪽을 먼저 만듭시다.

    *
    **
    ***
    ****
    *****
    
위 모양이 나오도록 반복문을 사용해 만들어주세요

- 나머지 반쪽도 만들어 봅시다.

         *
        **
       ***
      ****
     *****
위 모양이 되도록 반복문을 사용해 만들어주세요

- 이제 합쳐서 만들어봅시다.
         **
        ****
       ******
      ********
     **********
     
위 모양이 되도록 반복문을 사용해 만들어주세요

## 문제 8 ) 학급의 평균점수는?

- 한 반의 평균 시험 성적이 [70, 60, 55, 75, 95, 90, 80, 80, 85, 100] 이다.
- 이 반의 평균 시험 성적을 for문을 사용해 계산해주세요

## 문제 9 ) 7의 배수의 수는?

- list comprehension을 사용해보세요
- 1부터 10000사이의 7의 배수의 수를 구해주세요

## 문제 10 ) 번호 메기기

- lst 라는 변수에 ['a','b','c']가 담겨 있다.
- dictionary comprehension과 enumerate를 사용해서
- {0 : 'a', 1 : 'b', 2 : 'c'}로 바꿔주세요